mainmenu "AircraftWar Configuration Menu"

config DEBUG
    bool "Debug switch"
    default y

menu "Window config"
    config M_WINDOW_WIDTH
        int "Window Width"
        default 512

    config M_WINDOW_HEIGHT
        int "Window Height"
        default 768
endmenu

menu "Control config"
    config M_CONTROL_MOVE_SPEED
        int "Keyboard move speed"
        default 1000

    config M_CONTROL_KEYCODE_UP
        int "Keycode: up"
        default 38

    config M_CONTROL_KEYCODE_DOWN
        int "Keycode: down"
        default 40

    config M_CONTROL_KEYCODE_LEFT
        int "Keycode: left"
        default 37

    config M_CONTROL_KEYCODE_RIGHT
        int "Keycode: right"
        default 39

    config M_CONTROL_KEYCODE_SLOW
        int "Keycode: slow mode"
        default 16

    config M_CONTROL_KEYCODE_BUFF
        int "Keycode: use buff"
        default 90

    config M_CONTROL_KEYCODE_QUIT
        int "Keycode: quit"
        default 81

endmenu